@media print {
  .info {
    display: none;
  }
  #wrapper {
    padding: 0px;
  }
}

@page { size:8.5in 11in; margin: 0.25cm }

html, body {
  padding: 0;
  margin: 0;
}

#wrapper, .container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.inner {
  width: 50%;
  padding: 40px;
  margin: auto;
}

/* Section */
.section {
  display: block;
  margin: auto;
  page-break-inside: avoid;
}

.section .content {
  display: block;
  position: relative;
}

/* General styles */
ul, ol {
  padding-left: 0;
  list-style: none;
}

li:before {
  content: "\25cf  ";
}

code {
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.9);
  padding: 2px 6px;
  border-radius: 3px;
}

pre code,
pre.hljs {
  background: none;
}

kbd {
  background: black;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

kbd:hover {
  filter: invert(90%);
}

/* ------------------------------------------------------------------------ */

/* Info panel */

.info * {
  color: white;
}

.info {
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 470px;
  box-shadow: -2px 2px 8px rgba(0,0,0,0.45);
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  z-index: 100;
}

.info.minimized {
  opacity: 0;
  pointer-events: none;
}

.info h1 {
  margin: 0;
  font-size: 2.3em;
}

.info h1, .info h3 {
  text-transform: none;
}

.info a {
  color: #999;
  text-decoration: none;
}

.info a:hover,
.info .toc a:hover,
.gist-url:hover,
.css-url:hover,
.info .selector-toggle:hover {
  color: #fff;
  cursor: pointer;
  background: rgba(255,255,255,0.15);
}

.info .gist-url,
.info .css-url {
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}

.info .hide {
  position: absolute;
  text-align: right;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.command-count code {
  background: rgba(255,255,255,0.25);
  padding: 2px 4px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

/* Table of Contents */
.info .toc {
  max-height: 150px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.info .toc a,
.gist-url,
.css-url {
  display: inline;
  cursor: pointer;
}

.info .toc a {
  display: block;
  padding: 6px;
  border-bottom: 1px solid black;
}

/* Gist and CSS selector */
.info .selector {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 200px;
  height: auto;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 12px #000;
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
}

.info .selector-toggle {
  color: #999;
  padding: 6px;
  display: block;
  margin: 4px;
}

a.selector-toggle::after {
  text-align: right;
  float: right;
  color: rgba(255,255,255,0.25);
  font-family: monospace;
  padding: 2px;
}

a.gist-url::after {
  content: "GIST";
}

a.css-url::after {
  content: "CSS";
}

a.gist-source, a.css-source {
  float: left;
  padding: 6px 10px;
  margin-right: 6px;
}

.info .selector .id {
  margin-left: 6px;
}

.info .selector input {
  margin-bottom: 6px;
  width: 95%;
  border-radius: 5px;
  color: #ccc;
  background: rgba(255,255,255,0.2);
  padding: 4px;
  border: none;
  outline: 1px solid rgba(0,0,0,0.2);
}

.info .selector input::-webkit-input-placeholder,
.info .selector input::-moz-placeholder {
  color: rgba(0,0,0,0.15);
}

/* Help Ribbon */
#wrapper .info a.help-ribbon,
.info a.help-ribbon {
  position: absolute;
  transform: rotate(45deg);
  font-size: 2.75em;
  background: white;
  border-radius: 50%;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.5), 0 0 12px black;
  margin: 4px;
  color: black;
  border: 3px double black;
  text-shadow: 1px 1px 1px white, 2px 2px 4px black, -1px -1px 1px white, -2px -2px 8px black;
  font-family: "Times New Roman", serif !important;
}

#wrapper .info a.help-ribbon::before,
.info a.help-ribbon::before {
  background: white;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: -75px;
  content: "";
  border: 3px double black;
  font-size: 0.6em;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5), 0 0 12px black;
  mix-blend-mode: soft-light;
}

#wrapper .info a.help-ribbon:hover,
.info a.help-ribbon:hover {
  background: burlywood;
  color: black;
}

/* Transitions */
* { transition: all 200ms ease; }

/* Scrollbar styling */
::-webkit-scrollbar {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    /* border: solid whiteSmoke 4px; */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
}
