@font-face{
  font-family: 'Fira Code iScript';
  src: url('//cdn.rawgit.com/kencrocken/FiraCodeiScript/master/FiraCodeiScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Code iScript';
  src: url('//cdn.rawgit.com/kencrocken/FiraCodeiScript/master/FiraCodeiScript-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@import url('//cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css');

@media print {
  .nav {
    display: none;
  }
  #wrapper {
    padding: 0px;
  }
}

@page { size:8.5in 11in; margin: 0.25cm }

:root {
  --bg: white;
  --fontsize: 120%;
  --highlight: Default;
  --heading-font: 'Fira Code iScript', monospace, display, serif, sans-serif, handwriting;
  --font: 'Fira Code iScript', monospace, display, serif, sans-serif, handwriting;
}

blockquote {
  padding: 0 1em;
  margin-left: 0;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

body {
  background-color: var(--bg);
  font-family: var(--font);
}

html, body {
  margin: 0;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  float: left;
}

.inner {
  width: 100%;
  height: 100%;
  margin: auto;
  float: left;
  font-size: var(--fontsize);
  transition: none;
  animation: none;
}

/* Section */

.section {
  margin: auto;
  page-break-inside: avoid;
  touch-action: none;
}

.section .handle-heading {
  font-family: var(--heading-font);
}

.section .content {
  font-family: var(--font);
  position: relative;
}

.section .content img {
  width: -webkit-fill-available;
  min-width: 50px;
  max-width: 100%;
}

/* General styles */
/* ul {
  padding-left: 0;
  list-style: none;
} */

/* li:before {
  content: "\25cf  ";
} */

code {
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.9);
  padding: 2px 6px;
  border-radius: 3px;
}

pre code {
  background: none;
}

pre {
  font-family: var(--code-font);
  background: rgba(0,0,0,0.05);
  white-space: pre-wrap;
  word-wrap: break-word;
}

kbd {
  background: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-size: 0.6em;
  vertical-align: middle;
}

kbd:hover {
  filter: invert(90%);
}

/* Helper styles for breakdown core */

#bd-breakdown .handle-heading {
  margin: 0;
}

#bd-breakdown .section {
  width: 60% !important;
  position: static !important;
  top: unset !important;
  left: unset !important;
  margin: auto;
  margin-top: 50px;
}

.bd-markdown {
    display: none;
}

/* ------------------------------------------------------------------------ */

/* Panels */

.panels-docked {
  width: calc(100% - 300px);
}

.panels-docked.panels-hidden {
  width: 100%;
}

.panels-docked .nav {
  height: 100%;
}

.panel {
  opacity: 1;
  pointer-events: auto;
  overflow-x: hidden;
  overflow-y: overlay;
  max-height: 100%;
}

.panels-hidden .panel {
  opacity: 0;
  pointer-events: none;
}

/* hide cssvar fields with names that begin with 'hid-' */
.nav .field div[class^="hid-"],
.nav .field div[class*=" hid-"] {
  display: none;
}

/* Info panel */

.nav * {
  color: white;
}

.nav {
  font-family: 'Fira Code iScript', monospace;
  font-size: 120%;
  background: rgba(0,0,0,0.9);
  color: #ccc;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  box-shadow: -2px 2px 8px rgba(0,0,0,0.45);
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  z-index: 100;
}

#bd-breakdown .nav h1 {
  letter-spacing: -0.25em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.nav h1, .nav h3 {
  text-shadow: 0 2px 0px black, 0 3px 0 white;
  text-transform: none;
  margin: 0;
}

.nav p {
  margin: 0;
}

.nav .element-count {
    margin-bottom: 1em;
}

.nav a {
  color: #999;
  text-decoration: none;
}

.nav a:hover,
.nav .toc a:hover {
  color: #fff;
  cursor: pointer;
  background: rgba(255,255,255,0.15);
}

.nav .hide {
  float: right;
  cursor: pointer;
}

.nav .hide:hover kbd {
  color: white;
  filter: invert(90%);
}

.unhide,
.fullscreen {
  position: fixed;
  right: -75px;
  top: -75px;
  height: 200px;
  width: 200px;
  z-index: 99;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: none;
  mix-blend-mode: overlay;
}

.unhide:hover,
.fullscreen:hover {
  background: rgba(0,0,0,0.25);
  border: 20px solid rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0px 10px white;
}

.fullscreen {
  right: -50px;
  top: unset;
  bottom: -50px;
  border-radius: 0;
}

/* Table of Contents */
.nav .toc {
  max-height: 150px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.toc span.level {
  font-family: monospace;
  font-size: 0.75em;
  margin: 1px;
  padding: 2px 4px 0px 4px;
  border-radius: 5px;
  background: #555;
  color: #ccc;
}

.nav .toc a {
  display: inline;
  cursor: pointer;
}

.nav .toc a {
  display: block;
  padding: 6px;
  border-bottom: 1px solid black;
}

/* Fields */

.nav .field {
  margin-bottom: 0.5em;
}

.nav .datalist a:hover {
  filter: brightness(0.5);
}

.nav .field.select select,
.nav .field.textinput input,
.nav .field.datalist input {
  width: 99%;
  background: #252525;
  color: #999;
  padding: 6px;
  border-radius: 3px;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav .field.textinput input,
.nav .field.datalist input {
  width: 95%;
  cursor: text;
}

.nav .field.datalist input {
  width: 70%;
  padding: 1em;
  text-overflow: ellipsis;
}

.nav .field.select select:hover,
.nav .field.textinput input:hover,
.nav .field.datalist input:hover {
  color: #ccc;
  background: #333;
}

.nav .field.select::before,
.nav .field.textinput::before,
.nav .field.datalist::before {
  margin-right: 2.5em;
  margin-top: 0.45em;
  content: attr(data-name);
  position: absolute;
  right: 0;
  color: cornflowerblue;
  font-family: monospace;
  text-transform: capitalize;
  pointer-events: none;
}

#custom .nav li:before {
  content: unset;
}

.nav .field.collapsible {
  margin: 5px 0;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.5em 0.5em 1em 0.5em;
  border-radius: 3px;
}

.nav .field.collapsible.collapsed {
  padding: 0.5em;
}

.nav .field.collapsible .contents {
  margin-top: 0.5em;
}

.nav .field.collapsible.collapsed .contents {
  height: 0px;
  display: none;
}

.nav .field.collapsible:hover {
  background: rgba(255, 255, 255, 0.25);
}

.nav .field.collapsible .header {
  width: 100%;
  /* height: 1.5em; */
  display: inline-block;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

.nav hr {
  height: 6px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px rgba(255, 255, 255, 0.5);
}

/* Lyric mode styling */
#custom .bd-lyrics .inner .section.heading .handle-heading {
  display: none;
}

/* Hide heading for intro sections */
a.handle.i-intro {
  display: none;
}

/* Help Ribbon */
.nav a.help-ribbon,
.nav a.help-ribbon {
  position: absolute;
  transform: rotate(45deg);
  font-size: 2.75em;
  background: white;
  border-radius: 50%;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.5), 0 0 12px black;
  margin: 4px;
  color: black;
  border: 3px double black;
  text-shadow: 1px 1px 1px white, 2px 2px 4px black, -1px -1px 1px white, -2px -2px 8px black;
  font-family: "Times New Roman", serif !important;
  line-height: normal;
}

.nav a.help-ribbon::before,
.nav a.help-ribbon::before {
  background: white;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: -75px;
  content: "";
  border: 3px double black;
  font-size: 0.6em;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5), 0 0 12px black;
  mix-blend-mode: soft-light;
}

.nav a.help-ribbon:hover,
.nav a.help-ribbon:hover {
  background: burlywood;
  color: black;
}

/* Transitions */
* { transition: all 200ms ease; }

/* Scrollbar styling */
::-webkit-scrollbar {
    background: #333;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.35);
    border: 2px solid rgba(0,0,0,0.75);
}

.panel::-webkit-scrollbar-thumb {
    background-color: rgba(54, 126, 189, 0.25);
    border: 4px solid black;
}

.panel::-webkit-scrollbar-thumb:hover {
  background-color: rgba(54, 126, 189, 1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Sadly massive slider styling */
.nav .field.slider::after {
  content: attr(data-name) ': ' attr(data-value) '' attr(data-suffix);
  color: white;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  right: 2em;
  font-family: monospace;

  pointer-events: none;
}

.nav input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
.nav input[type=range]:focus {
  outline: none;
}
.nav input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: cornflowerblue;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.nav input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.nav input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
.nav input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: cornflowerblue;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.nav input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

.nav input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
.nav input[type=range]:focus {
  outline: none;
}
.nav input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: cornflowerblue;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.nav input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.nav input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
.nav input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: cornflowerblue;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.nav input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
